<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Favorites Root</key>
	<dict>
		<key>Children</key>
		<array>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_admin</string>
				<key>host</key>
				<string>www.dev.graze.com</string>
				<key>id</key>
				<integer>5384465858421798034</integer>
				<key>name</key>
				<string>local - admin</string>
				<key>port</key>
				<string>44401</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>dev</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_dispatch</string>
				<key>host</key>
				<string>dispatch.hayes.dev.graze.com</string>
				<key>id</key>
				<integer>8533645590189013631</integer>
				<key>name</key>
				<string>local - dispatch</string>
				<key>port</key>
				<string>44403</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>dev</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_dispatch_log</string>
				<key>host</key>
				<string>dispatch.hayes.dev.graze.com</string>
				<key>id</key>
				<integer>-4782554171893271663</integer>
				<key>name</key>
				<string>local - dispatch_log</string>
				<key>port</key>
				<string>44403</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>dev</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_dispatch_nj</string>
				<key>host</key>
				<string>dispatch.new-jersey.dev.graze.com</string>
				<key>id</key>
				<integer>2048150453251678086</integer>
				<key>name</key>
				<string>local - dispatch_nj</string>
				<key>port</key>
				<string>44406</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>dev</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_dispatch_shared</string>
				<key>host</key>
				<string>www.dev.graze.com</string>
				<key>id</key>
				<integer>-3697189478136491388</integer>
				<key>name</key>
				<string>local - dispatch_shared</string>
				<key>port</key>
				<string>44401</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_dispatch_sync_1</string>
				<key>host</key>
				<string>dispatch.hayes.dev.graze.com</string>
				<key>id</key>
				<integer>-6795596368997490790</integer>
				<key>name</key>
				<string>local - dispatch_sync</string>
				<key>port</key>
				<string>44404</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>dev</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_file</string>
				<key>host</key>
				<string>www.dev.graze.com</string>
				<key>id</key>
				<integer>9027656620996950154</integer>
				<key>name</key>
				<string>local - file</string>
				<key>port</key>
				<string>44401</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_web</string>
				<key>host</key>
				<string>www.dev.graze.com</string>
				<key>id</key>
				<integer>4643611276410828175</integer>
				<key>name</key>
				<string>local - web</string>
				<key>port</key>
				<string>44401</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>dev</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_log</string>
				<key>host</key>
				<string>www.dev.graze.com</string>
				<key>id</key>
				<integer>4426721874632284547</integer>
				<key>name</key>
				<string>local - log</string>
				<key>port</key>
				<string>44401</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>dev</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>3</integer>
				<key>database</key>
				<string>live_allocator</string>
				<key>host</key>
				<string>dispatch.hayes.dev.graze.com</string>
				<key>id</key>
				<integer>-6400279336795561856</integer>
				<key>name</key>
				<string>local - allocator</string>
				<key>port</key>
				<string>44408</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>dev</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>1</integer>
				<key>database</key>
				<string>live_web</string>
				<key>host</key>
				<string>db-web.stage.graze.com</string>
				<key>id</key>
				<integer>5079464416349543293</integer>
				<key>name</key>
				<string>staging - web</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>admin-staging-1.us-east.graze.com</string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>john</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_dispatch</string>
				<key>host</key>
				<string>db-dispatch-uk.live.graze.com</string>
				<key>id</key>
				<integer>-1467051337722263429</integer>
				<key>name</key>
				<string>LIVE - dispatch - UK</string>
				<key>port</key>
				<string>3306</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>manage-1.us-east.graze.com</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/id_rsa.pub</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>john</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>graze</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_dispatch_nj</string>
				<key>host</key>
				<string>db-dispatch-nj.live.graze.com</string>
				<key>id</key>
				<integer>7074449465379720089</integer>
				<key>name</key>
				<string>LIVE - dispatch - NJ</string>
				<key>port</key>
				<string>3306</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>manage-1.us-east.graze.com</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/id_rsa.pub</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>john</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>graze</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_dispatch_log</string>
				<key>host</key>
				<string>db-dispatch-uk.live.graze.com</string>
				<key>id</key>
				<integer>7728858520014395268</integer>
				<key>name</key>
				<string>LIVE - dispatch_log - UK</string>
				<key>port</key>
				<string>3306</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>manage-1.us-east.graze.com</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/id_rsa.pub</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>john</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_dispatch_log_nj</string>
				<key>host</key>
				<string>db-dispatch-nj.live.graze.com</string>
				<key>id</key>
				<integer>5686554219382930054</integer>
				<key>name</key>
				<string>LIVE - dispatch_log - NJ</string>
				<key>port</key>
				<string>3306</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>manage-1.us-east.graze.com</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/id_rsa.pub</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>john</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_dispatch_sync_1</string>
				<key>host</key>
				<string>db-sync-uk.live.graze.com</string>
				<key>id</key>
				<integer>5438240098752619902</integer>
				<key>name</key>
				<string>LIVE - dispatch_sync - UK</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_dispatch_sync_1</string>
				<key>host</key>
				<string>db-sync-uk.live.graze.com</string>
				<key>id</key>
				<integer>-3084449188987425401</integer>
				<key>name</key>
				<string>LIVE - dispatch_sync - NJ</string>
				<key>port</key>
				<string></string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string></string>
				<key>sshKeyLocation</key>
				<string></string>
				<key>sshKeyLocationEnabled</key>
				<integer>0</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string></string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_web</string>
				<key>host</key>
				<string>db-web.live.graze.com</string>
				<key>id</key>
				<integer>-4573798067977483904</integer>
				<key>name</key>
				<string>LIVE - web</string>
				<key>port</key>
				<string>3306</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>manage-1.us-east.graze.com</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/id_rsa.pub</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>john</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>graze</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_log</string>
				<key>host</key>
				<string>db-web.live.graze.com</string>
				<key>id</key>
				<integer>1328824880798529151</integer>
				<key>name</key>
				<string>LIVE - log</string>
				<key>port</key>
				<string>3306</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>manage-1.us-east.graze.com</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/id_rsa.pub</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>john</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>graze</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_dispatch_shared</string>
				<key>host</key>
				<string>db-web.live.graze.com</string>
				<key>id</key>
				<integer>-1673959112293908601</integer>
				<key>name</key>
				<string>LIVE - dispatch_shared</string>
				<key>port</key>
				<string>3306</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>manage-1.us-east.graze.com</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/id_rsa.pub</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>john</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>graze</string>
			</dict>
			<dict>
				<key>colorIndex</key>
				<integer>0</integer>
				<key>database</key>
				<string>live_web</string>
				<key>host</key>
				<string>db-web-dispatch-uk.live.graze.com</string>
				<key>id</key>
				<integer>-7505325460118771575</integer>
				<key>name</key>
				<string>LIVE - disptch - UK - web slave</string>
				<key>port</key>
				<string>3306</string>
				<key>socket</key>
				<string></string>
				<key>sshHost</key>
				<string>manage-1.us-east.graze.com</string>
				<key>sshKeyLocation</key>
				<string>~/.ssh/id_rsa.pub</string>
				<key>sshKeyLocationEnabled</key>
				<integer>1</integer>
				<key>sshPort</key>
				<string></string>
				<key>sshUser</key>
				<string>john</string>
				<key>sslCACertFileLocation</key>
				<string></string>
				<key>sslCACertFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslCertificateFileLocation</key>
				<string></string>
				<key>sslCertificateFileLocationEnabled</key>
				<integer>0</integer>
				<key>sslKeyFileLocation</key>
				<string></string>
				<key>sslKeyFileLocationEnabled</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
				<key>useSSL</key>
				<integer>0</integer>
				<key>user</key>
				<string>root</string>
			</dict>
		</array>
		<key>IsExpanded</key>
		<true/>
		<key>Name</key>
		<string>FAVORITES</string>
	</dict>
</dict>
</plist>
