<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPConnectionFavorites</key>
	<array>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>live_dispatch</string>
			<key>host</key>
			<string>dispatch.dev.graze.com</string>
			<key>id</key>
			<integer>8533645590189013631</integer>
			<key>name</key>
			<string>ml_dispatch</string>
			<key>port</key>
			<string>44403</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>live_dispatch_log</string>
			<key>host</key>
			<string>dispatch.dev.graze.com</string>
			<key>id</key>
			<integer>-4782554171893271663</integer>
			<key>name</key>
			<string>ml_dispatch_log</string>
			<key>port</key>
			<string>44403</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>live_dispatch_nj</string>
			<key>host</key>
			<string>dispatch.new-jersey.dev.graze.com</string>
			<key>id</key>
			<integer>2048150453251678086</integer>
			<key>name</key>
			<string>ml_dispatch_nj</string>
			<key>port</key>
			<string>44406</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>live_dispatch_shared</string>
			<key>host</key>
			<string>www.dev.graze.com</string>
			<key>id</key>
			<integer>-3697189478136491388</integer>
			<key>name</key>
			<string>ml_dispatch_shared</string>
			<key>port</key>
			<string>44401</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>colorIndex</key>
			<integer>-1</integer>
			<key>database</key>
			<string>live_web</string>
			<key>host</key>
			<string>www.dev.graze.com</string>
			<key>id</key>
			<integer>4643611276410828175</integer>
			<key>name</key>
			<string>ml_web</string>
			<key>port</key>
			<string>44401</string>
			<key>socket</key>
			<string></string>
			<key>sshHost</key>
			<string></string>
			<key>sshKeyLocation</key>
			<string></string>
			<key>sshKeyLocationEnabled</key>
			<integer>0</integer>
			<key>sshPort</key>
			<string></string>
			<key>sshUser</key>
			<string></string>
			<key>sslCACertFileLocation</key>
			<string></string>
			<key>sslCACertFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslCertificateFileLocation</key>
			<string></string>
			<key>sslCertificateFileLocationEnabled</key>
			<integer>0</integer>
			<key>sslKeyFileLocation</key>
			<string></string>
			<key>sslKeyFileLocationEnabled</key>
			<integer>0</integer>
			<key>type</key>
			<integer>0</integer>
			<key>useSSL</key>
			<integer>0</integer>
			<key>user</key>
			<string>root</string>
		</dict>
	</array>
</dict>
</plist>
